.top-header
  .container
    .contact-info
      a(href='mailto:acc@acc-sap.ru')
        i.fa.fa-envelope
        |  acc@acc-sap.ru
      a(href='tel: +7 (812) 606-62-23')
        i.fa.fa-phone
        |   +7 (812) 606-62-23
    .lang-switcher
      a.lang(href='') EN
      | /
      a.lang(href='') RU