- 
  var users = [
    {
      id: 42,
      name: 'Leanne Graham',
      position: 'student',
      gender: 'women'
    }, {
      id: 43,
      name: 'Ervin Howell',
      position: 'student',
      gender: 'men'
    }, {
      id: 44,
      name: 'Clementine Bauch',
      position: 'student',
      gender: 'women'
    }, {
      id: 45,
      name: 'Kurtis',
      position: 'student',
      gender: 'men'
    }, {
      id: 46,
      name: 'Dennis',
      position: 'student',
      gender: 'women'
    }, {
      id: 47,
      name: 'Chelsey',
      position: 'student',
      gender: 'men'
    }, {
      id: 48,
      name: 'Patricia',
      position: 'student',
      gender: 'women'
    }, {
      id: 49,
      name: 'Clementine',
      position: 'student',
      gender: 'women'
    }, {
      id: 50,
      name: 'Ervin',
      position: 'student',
      gender: 'men'
    }, {
      id: 51,
      name: 'Leanne',
      position: 'student',
      gender: 'women'
    }, {
      id: 52,
      name: 'Graham',
      position: 'student',
      gender: 'women'
    }, {
      id: 53,
      name: 'Howell',
      position: 'student',
      gender: 'men'
    }
  ]
