doctype html
html(lang="ru")
	head
		include ./templates/head.pug
	body
		main.main-page
			.slider
				include ./templates/header.pug
				include ./templates/container.pug
			include ./templates/sectionabout.pug
			include ./templates/sectiontestimonials.pug
			include ./templates/sectionprogram.pug
			include ./templates/sectionforeign-students.pug
			include ./templates/sectionprice-registration.pug
			include ./templates/sectionquestions.pug
			#contacts.contacts
				#map
			include ./templates/footer.pug
		include ./templates/scripts.pug